<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Activism Finder</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    {% load static %}
    <link rel="stylesheet" href="{% static 'activism_finder/bootstrap.min.css' %}">
    <script src="{% static 'activism_finder/jquery-3.6.0.min.js' %}"></script>
    <script src="{% static 'activism_finder/bootstrap.bundle.min.js' %}"></script>
</head>
<body>
<div class="content" style="padding-top: 2%">
    <h2 class="text-center">Activism Finder</h2>
    <p class="text-center">Find activist groups for the movements you want. Start typing in the search below to find your groups today.</p>
    <div class="input-group mb-3" style="padding: 1%;">
        <input type="text" class="form-control" placeholder="Query" aria-label="Query">
    </div>
</div>
</body>
</html>
